body{width:1334px;height:648px;font-size:10px;}
.male{width: 1334px; height: 764px; left: 0px; top: -116px;}
.male .male-bg{ background: url('../face/male_male-bg.png') 0 0 no-repeat;width: 1334px; height: 648px; left: 0px; top: 116px;}
.male .male-face{ background: url('../face/male_male-face.png') 0 0 no-repeat;width: 265px; height: 377px; left: 519px; top: 170px;}
.male .p1{ background: url('../face/male_p1.png') 0 0 no-repeat;width: 502px; height: 583px; left: 416px; top: 67px;}
.male .p2{ background: url('../face/male_p2.png') 0 0 no-repeat;width: 646px; height: 711px; left: 320px; top: 0px;}
.male .p3{ background: url('../face/male_p3.png') 0 0 no-repeat;width: 489px; height: 586px; left: 424px; top: 39px;}
.female{width: 1334px; height: 739px; left: 0px; top: -91px;}
.female .female-bg{ background: url('../face/female_female-bg.png') 0 0 no-repeat;width: 1334px; height: 648px; left: 0px; top: 91px;}
.female .female-face{ background: url('../face/female_female-face.png') 0 0 no-repeat;width: 275px; height: 393px; left: 518px; top: 152px;}
.female .p1{ background: url('../face/female_p1.png') 0 0 no-repeat;width: 412px; height: 561px; left: 461px; top: 53px;}
.female .p2{ background: url('../face/female_p2.png') 0 0 no-repeat;width: 602px; height: 706px; left: 338px; top: 0px;}
.female .p3{ background: url('../face/female_p3.png') 0 0 no-repeat;width: 541px; height: 621px; left: 377px; top: 26px;}
